
.div1{
    direction: ltr;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(248, 248, 255, 0.918);
    border:2px double deeppink;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .message{
    color: rgb(170, 41, 182);
  }
  
  h3{
    color: darkorchid;
  }
  h4{
    color: rgb(192, 69, 192);
  }
  
  .button-off{
      color: #ef476f;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  height: 50px;
  }
  