$color-btn: #7a4343;

.img-tab {
  width: 100px;
}
.tozihat {
  display: flex;
  flex-direction: column;
}
.tozihat-body {
  margin-top: 8%;
}

.form-tozihat {
  text-align: right;
}
.submit-tozihat {
  display: flex;
  justify-content: center;
}
.button-tozihat {
  margin-top: 20px;
  width: 200px;
  justify-content: center;
  background: $color-btn;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button-tozihat:hover {
  color: #fff;

  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -9px) scale(1.2);
  transform: translate(0px, -9px) scale(1.2);
}

@media only screen and (max-width: 1140px) {
  .respansiv-tozihat {
    flex-direction: column;
    justify-content: center;
  }
  .tozihat {
    margin-left: 18px;
  }
}
